{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>QuizME</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  </head>
  <body>
    <div class="container">
      <div id="home" class="flex-center flex-column">
        <h1>QuizME</h1>
        <a class="btn" href="{% url 'quiz:game' %}">Let's Go</a>
        <a class="btn" href="{% url 'quiz:highscores' %}">High Scores</a>
        <a class="btn" href="{% url 'quiz:index' %}">Home</a>
      </div>
    </div>
  </body>
</html>
